.center-wrap {
  width: 90%;
  padding: 20px;
  margin: auto;
}
textarea {
  width: 100%;
  display: block;
}
table,
tr,
th,
td {
  border-collapse: collapse;
}
th,
td {
  border: solid 1px black;
}
td {
  padding: 0 5px;
}
